$highlight-color: rgba(100, 100, 100, 0.3);

img {
    width: 200px;
    background-color: deeppink;
    margin: 2px;
}

.containerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.btn-style {
    background-color: $highlight-color;
    border-radius: 20px;
    width: 30%;
    border: none;
    margin: 5px;
    outline: none;
    font-size: 16px;
}