/*@import '/static/fontcss/font.css';*/

body {
    background: #f0d0e0;
}

.custom-font {
    color: red;
    /*font-family: 'myFirstFont';*/
    background: url(/static/img/tc1.png);
}

.custom-font2 {
    /* 图片需要压缩的话使用相对路径即可 */
    background: url(../static/img/home.png);
}

img {
    width: 200px;
    height: 200px;
    background-color: deeppink;
}